{% extends "base.html" %}
{% block content %}
  <div class="timeline2">
<div class="time">
January 2015</div>
<br>
<br>
<br>
<br>
<div id="text">February 14- Incorporation</div>
<div id="text2">Teens for Teens incorporated.</div>
<div id="text">February 15- Nonprofit</div>
<div id="text2">Granted 501(c)4 status.</div>
<br>

<div id="text">March 11- Lobbying</div>
<div id="text2">Began lobbying operations in the city of Miami Beach.</div>

<!--
 <div id="circle2" onmouseover="date2()" onmouseleave="date22()"></div>-->
<br>
<br>
<div id="text">April 10- PAC Statement</div>
<div id="text2">Filed Statement of Organization to become a Political Action Committee.</div>
<div id="text">April 11- PAC Grant</div>
<div id="text2">Granted status as a political action committee (PAC).</div><br>
<div id="text">April 14- National Journal</div>
<div id="text2">Emma Roller from the National Journal writes about Teens for Teens<br>president Benjamin Burstein.</div>
<div id="text">April 18- Miami Beach City Commission</div>
<div id="text2">Began working with Miami Beach city commission candidate Mark<br>Samuelian. Eight students knock on over two hundred doors to<br>launch an in-kind donation program.</div>
<div id="text">April 22- MSNBC</div>
<div id="text2">MSNBC gives Teens for Teens national media attention.</div>
<br>
<div id="text">April 25- Miami Beach City Commission</div>
<div id="text2">Began working with Miami Beach city commission candidate<br>Ricky Arriola.</div>
<div id="text">May 12- Lobbying</div>
<div id="text2">Began lobbying operations in the city of Doral.</div>
<br>
<div id="text">May 28- Legislation</div>
<div id="text2">Initiated the legislative process to lower the voting age in Doral with<br>city commissioner Christi Fraga.</div>
<div id="text">June 11- Doral City Commission</div>
<div id="text2">Doral city commission held a special session to discuss lowering the<br>voting age.</div>
<div id="text">June 24- Polling</div>
<div id="text2">Public opinion polling on lowering the voting age begins in Doral.</div>
<br>
<div id="text">July 5- Miami Beach City Commission</div>
<div id="text2">Began working with Miami Beach city commission candidate Kristen<br>Rosen-Gonzalez.</div>
<div id="text">July 8- Miami Beach City Commission</div>
<div id="text2">Planning began to hold debates for the Miami Beach city commission<br>and mayor groups.</div>
<div id="text">July 12- Miami Beach City Commission</div>
<div id="text2">Began working with Miami Beach city commission candidates Michael<br>DeFilippi and Ken Russell.</div>
<div id="text">July 12- Fine Miami</div>
<div id="text2">Fine Miami writes about Teens for Teens president Benjamin Burstein.</div>
<br>
<div id="text">July 20- Voter Registration</div>
<div id="text2">Became a third-party voter registration organization.</div>
<div id="text">July 21- Instatement</div>
<div id="text2">Instated as an Engage Miami board member.</div>
<div id="text">July 22- Miami Beach City Commission</div>
<div id="text2">Began working with Miami Beach city commission candidate Isaiah<br>Mosley.</div>
<div id="text">July 27- Miami Beach City Commission</div>
<div id="text2">Began working with Miami Beach city commission candidate Scott<br>Diffenderfer.</div>
<div id="text">August 3- Miami Beach City Commission</div>
<div id="text2">Began working with Miami Beach city commission candidate Mark<br>Weithorn.</div><br>
<div id="text">August 17- Miami Beach City Commission</div>
<div id="text2">Began working with Miami Beach city commission candidates John<br>Elizabeth Aleman and Jonathan H. Parker.</div>
<div id="text">August 18- Miami Beach Tuesday Morning Breakfast Club</div>
<div id="text2">Teens for Teens president Benjamin Burstein featured as a guest<br>speaker at the Miami Beach Tuesday Morning Breakfast Club.</div>
<div id="text">August 21- Miami Beach City Commission</div>
<div id="text2">Began working with Miami Beach city commission candidate<br>Elizabeth “Betsy” Perez.</div>
<div id="text">August 22- Miami Beach Mayor</div>
<div id="text2">Began working with Miami Beach mayor candidates David S.<br>Wieder and Philip Levine.</div>
<div id="text">August 31- Voter Registration</div>
<div id="text2">Registered over 160 students to vote in the state of Florida<br>at Miami Beach Senior High School.</div>
<div id="text">September 1- Voter Registration</div>
<div id="text2">Preregistered more than 125 students to vote in the state of<br>Florida at Miami Beach Senior High School. </div>
<div id="text">September 10- Miami Beach City Commission Debates</div>
<div id="text2">Invited more than 1,700 registered voters to attend the<br>commission debates. </div>
<br>
<div id="text">September 26- Miami Beach City Commission Debates</div>
<div id="text2">Held debates for the Miami Beach city commission Group IV<br>and the mayor group. Over 150 Miami Beach residents attended,<br>one of the largest attendances in the election season.</div>
<br>
<div id="text">October 10- Miami Beach City Commission Debates</div>
<div id="text2">Held debates for the Miami Beach city commission group V<br>and VI. Over 75 Miami Beach residents attended. </div>
<div id="text">October 12- Lobbying</div>
<div id="text2">Began lobbying operations in the city of South Miami.</div>
<div id="text">October 14- Lobbying</div>
<div id="text2">Began lobbying operations in North Bay Village.</div><br>
<div id="text">October 20- Lobbying</div>
<div id="text2">Began lobbying operations in the village of Palmetto Bay.</div>
<br>
<br>
<div id="text">November 16- Miami Beach Leadership Academy Alumni Association</div>
<div id="text2">Teens for Teens president Benjamin Burstein featured as a guest<br>speaker at the Miami Beach Leadership Academy Alumni Association.</div>
<br>
<div id="text">November 30- 47th Street Business Association</div>
<div id="text2">Teens for Teens president Benjamin Burstein elected<br>to chair the 47th Street Business Association in Miami Beach.</div>
<div id="text">December 15- Legislation</div>
<div id="text2">Initiated the legislative process to lower the voting age in<br>Miami Beach with city commissioners Kristen Rosen-Gonzalez and<br>Michael Grieco.</div>
<div class="time">
January 2016</div>
<br>
<div id="text">January 3- Polling</div>
<div id="text2">Public opinion polling on lowering the voting age begins in Miami Beach.</div>
<br>
<div id="text">January 10- Debates</div>
<div id="text2">Began planning debates for Marco Rubio’s U.S. Senate seat.</div>
<br>
<br>
<div id="text">January 28- Young Social Entrepreneur of the Year</div>
<div id="text2">Teens for Teens president Benjamin Burstein honored as the<br>Young Social Entrepreneur of the Year by the School Broadcast Network.</div>
<br>
<div id="text">February 10- Australian Broadcasting Corporation</div>
<div id="text2">Teens for Teens president Benjamin Burstein featured by the<br>Australian Broadcasting Corporation.</div>
<div id="text">February 19- Democratic National Committee's Presidential Debate</div>
<div id="text2">Teens for Teens president Benjamin Burstein is given press<br>credentials to cover the Democratic National Committee's<br>Presidential Debate in Miami, Florida.</div>
<div id="text">March 9- DNC Debate</div>
<div id="text2">Teens for Teens attends the DNC Debate.</div>
<div id="text">March 10- NPR</div>
<div id="text2">NPR gives Teens for Teens national media attention.</div>
<div id="text">March 13- Univision and ABC</div>
<div id="text2">Univision and ABC feature Teens for Teens.</div>
<br>
<div id="text">March 20- Debates</div>
<div id="text2">Began planning debates for Florida House and Florida Senate candidates.</div>
<br>
<div class="time">
April 2016</div>
<!--<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br><div class="time">
June 2016</div>-->
</div>
{% endblock %}
